{{#each this}}
<div class="country">
<h2 class="country-name">{{name}}</h2>
<div class="country-info">
   <ul class="country-info__list">
       <li class="country-info__list-item"><span>Capital: </span>{{capital}}</li>
       <li class="country-info__list-item"><span>Population: </span>{{population}}</li>
       <li class="country-info__list-item"><span>Languages: </span> 
           <ul class="country-info__list-item--languages">
            {{#each languages}}
           <li>{{this.name}}</li>
            {{/each}}
           </ul>
       </li>
   </ul>
   <img class="country-img" src="{{flag}}" alt="Flag of the country">
   <div/>
</div>

{{/each}}